<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism.min.css" />
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>What is React And Why Should You Bother</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <style>
    *{
      font-family: system-ui;
    }
    p{
      font-size: 20px;
      /*text-align:justify;*/
    }
    li{
      font-size: 20px;
      font-style: italic;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #fuckoff{
      text-align: left;
      font-size: 16px;
    }
    
  </style>

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
  <link href="custom.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>React.js</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><span>Blogs</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            <ul>
                  <li><a href="./blog1.html">Blog1</a></li>
                  <li><a href="./blog3.html">Blog3</a></li>
                  <li><a href="./blog4.html">Blog4</a></li>
                  <li><a href="./blog5.html">Blog5</a></li>
                  <li><a href="./blog6.html">Blog6</a></li>
                  
      </ul>
            </ul>
          </li>

        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up" style="margin: auto">
            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">Blog#2</span> <span class="mx-1">&bullet;</span> <span>Jul 15th '23</span></div>
              <h1 class="mb-5">Getting Started with React Hooks: Simple Examples for Beginners</h1>
              <p id="fuckoff"><span class="firstcharacter">R</span>eact has gained widespread acclaim as an essential tool in the arsenal of frontend development libraries and frameworks. In this article, we delve into the significance of adopting React, shedding light on why it should be your preferred choice for crafting impeccable front-end experiences..</p>

              <figure class="my-4">
                <img src="https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010125.jpg?size=626&ext=jpg&ga=GA1.2.856897899.1691695530&semt=sphsize=626&ext=jpg&ga=GA1.2.856897899.1691695530&semt=sph=900&t=st=1691695668~exp=1691696268~hmac=d9ee44a6d293ad692aea0e7c3d236f3ef5375d011a0a34bd57a752a45e2fde48=1600&h=840&fit=crop&crop=entropy&auto=compress,format&format=webp" alt="" class="img-fluid">
                <figcaption style="text-align:center">Born from Facebook's innovation, React Hooks empowers developers to craft reusable UI components, optimizing the rendering of dynamic data-driven views. </figcaption>
              </figure>
              <p>
                In this article, we'll explore the world of React Hooks and understand why they have become a vital part of modern front-end development. If you're new to React and eager to enhance your skills, let's dive in!</p>


                <h2>What are React Hooks?</h2>
                <ul>
                  <li>React Hooks, introduced in React 16.8, are robust functions that eradicate the necessity for class components while streamlining state management within functional components. They offer a more streamlined and succinct approach to handling state and side effects, resulting in cleaner code.</li>
                 
                </ul>
                <h2>The useState Hook:</h2>
                <ul>
                    <li>One of the most widely used Hooks is useState. It allows you to add state to functional components effortlessly. Here's a basic example:

                        
                        </li>
                </ul>
                <pre ><code class="language-javascript" >    
                    function useState(initialValue) {
                      let state = initialValue;
                    function setState(newState) {
                        state = newState;
                         }
                    return [state, setState];
                        }
                    const Counter = () => {
                    const [count, setCount] = useState(0);
                    const increment = () => {
                       setCount(count + 1);
                      };
                    return {
                        count,
                        increment
                      };
                    };
                    const counterComponent = Counter();
                    console.log(counterComponent.count); 
                    counterComponent.increment();
                    console.log(counterComponent.count); <script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/components/prism-javascript.min.js"></script>
                
                    
                    </code></pre>
                    <ul>
                        <li><q><strong>useState</strong></q>is a function that returns a current state value and a function to update it.The <q>Counter</q>function uses <strong>useState</strong> to create a count state variable, 
                            initially set to 0.When the<q><strong>increment</strong></q>  function is called, it updates the count using the provided setter function.The<q>Counter</q>function returns the current count value and 
                            the <q>increment</q>function.When using the<q>Counter</q>function, you can access the count value and call <q>increment</q>to update it.
    
                        </li>
                    </ul>
                
                   
                </ol>
                <hr>
              <figure class="my-4">
                            <img src="https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="" class="img-fluid">

                
              </figure>
              <h2>The useEffect Hook:</h2>
                <ul>
                    <li>Another essential Hook is useEffect, which handles side effects in functional components. For instance, you can fetch data from an API or update the document title. Here's an example:

                        
                        </li>
                </ul>
                <pre ><code class="language-javascript" >    
import React, { useState, useEffect } from 'react';
const DataFetching = () => {
const [data, setData] = useState([]);
useEffect(() => {
fetch('https://api.example.com/data')
.then((response) => response.json())
.then((data) => setData(data))
.catch((error) => console.error(error));
  }, []);
 return (
    <div>
    <h2>Data:</h2>
    <ul>
    {data.map((item) => (
     <li key={item.id}>{item.name}</li>
        ))}
      </ul>
    </div>
  );
};

export default DataFetching;
 <script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/components/prism-javascript.min.js"></script>
                
                    
                    </code></pre>
                    <ul>
                        <li><q><strong>useEffect</strong></q> is a hook for managing side effects in React. <q><strong>useState</strong></q> creates a state variable like<q>Count</q>(initialized as 0 in Counter). Calling increment updates the state. The Counter returns count and increment.
                             Use Counter to access count and update via increment.
                        </li>
                    </ul>
                
                   
                </ol>
               <h2> Why Learn React Hooks:</h2>
                <ol>
                  <li>
                    <h3>
                        Simplified State Management:
                    </h3>
                    <p>
                        Hooks make state management in functional components concise and easy to follow.


                    </p>

                  </li>

                  <li>
                    <h3>
                        Code Reusability:
                      </h3>
                    <p>
                        They encourage code reusability through custom Hooks that share stateful logic.
                    </p>

                  </li>

                  <li>
                    <h3>
                        Improved Performance:



                    </h3>
                    <p>
                        React's optimizations, combined with Hooks' efficient updates, lead to better app performance.
                    </p>

                  </li>

                  <li>
                    <h3>
                        Strong Community Support:




                    </h3>
                    <p>
                        The vast React community offers abundant resources and tutorials to aid your learning journey.


                    </p>

                  </li>
                </ol>
                <hr>
                <h2>
                  Conclusion:
                </h2>
                <p>React Hooks have revolutionized front-end development, simplifying state management and improving code organization. As a beginner, embracing Hooks will empower you to build robust and interactive user interfaces.</p>
                


                <p>Enjoy the journey of discovering React Hooks and how they enhance your development experience.<B> Happy coding and may your React projects flourish!</b></p>

            </div><!-- End Single Post Content -->


    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><a href="https://itc6.netlify.app" target="_blank">itc6.netlify.app</a></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              Designed by <a href="https://bootstrapmade.com/">SY-IT-C6</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>